<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%extends 'base.html'%}
  
    <title style="background-color: brown;">{%block title%}About{%endblock%}</title>
     <style>

        header{
            display: inline-block;
            display: flex;


        }
        header.hover{
            color: brown;
            background-color: burlywood;
        }
    </style>
</head>
<body>
    {%block content%}
    <h1>This is the about page</h1>
    {%endblock%}
</body>
</html>